body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  margin: 0;
  padding: 0 1.25rem;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
} 

header > img {
  height: 26px;
}

header > h1 {
  padding: 0 0.5rem;
  font-size: 1.3rem;
  letter-spacing: -1.4px;
  font-weight: 500;
  margin-right: auto; /* pushes next element to the far right */
}

header > h2 {
  padding: 0 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.meme--form {
  margin: 1.75rem;
  display: flex;
  flex-flow: column;
}

.inputs {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.inputs input {
  width: 41%;
  height: 2.1rem;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-family: 'Karla', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.inputs input::placeholder {
  color: #0D0D0D;
}

.meme--form button {
  margin: 0.5rem;
  height: 2.5rem;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -1px;
  cursor: pointer;
}

.meme--form img {
  height: 1rem;
  padding: 0 0.1rem;
}