* {
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    overflow: scroll;
}

h2, h4 {
    padding: 10px 0;
}
/* Header */

header {
    display: flex;
    height: 69px;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 10px;
}

.nav a {
    justify-content: end;
    text-decoration: underline;
    padding: 0 10px;
    color: seashell;
}

.nav a:visited {
    color: seashell;
}

/* Page content */ 

main {
    position: relative;
    top: 69px;
}

section {
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
}

/* Our Mission */

.mission {
    height: 700px;
    min-width: 1200px;
    overflow: hidden;
    background-image: url("../img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-flow: column wrap;
}

/* Tea of the Month */

.teamonth img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.item {
    display: inline-flex;
    flex-flow: column wrap;
    margin: 5px 5px;
}

/* Locations */

.locations {
    height: 570px;
    overflow: hidden;
    background-image: url("../img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.locations h2 {
    background-color: transparent;
}

.locationslist {
    background-color: transparent;
}

.place {
    margin: 15px 40px;
    width: 300px;
    background-color: black;
    opacity: 1;
    line-height: 2.5;
    display: inline-flex;
    flex-flow: column wrap;
    padding: 15px 0px;
}

/* Contact */

.contact {
    margin-top: 0px;
    display: flex;
    flex-flow: column wrap;
    height: 200px;
}

.contact h2 {
    padding-bottom: 25px; 
}

.contact h5 {
    padding: 15px;
}

footer p {
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
}